@font-face {
    font-family: 'Hello Bird';
    src: url('../fonts/Hello Bird.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
--slidev-font-sans: 'Hello Bird', 'Signika Negative', sans-serif;
}
