@import url("https://use.typekit.net/xka6whh.css");

@font-face {
    font-family: 'Hello Bird';
    src: url('../fonts/Hello Bird.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
--slidev-font-sans: 'azo-sans-web', "Playfair Display", 'Hello Bird', 'Signika Negative', sans-serif;
}